<template>
  <a-button type="primary" v-if="!user.isLogin" class="user-profile-component" @click="login">
    登录
  </a-button>
  <a-dropdown-button v-else class="user-profile-component">
    <router-link to="/setting">{{ user.userName }}</router-link>
    <template #overlay>
      <a-menu class="user-profile-dropdown">
        <a-menu-item key="0" @click="logout">登出</a-menu-item>
      </a-menu>
    </template>
  </a-dropdown-button>
</template>

<script setup lang="ts">
import { type PropType } from 'vue'
import { useRouter } from 'vue-router'
import { message } from 'ant-design-vue'
import { useUserStore, type UserProps } from '@/stores/user'
defineOptions({
  name: 'user-profile'
})
const props = defineProps({
  user: {
    type: Object as PropType<UserProps>,
    required: true
  }
})
const router = useRouter()
const userStore = useUserStore()
const login = () => {
  userStore.login()
  message.success('登录成功', 2)
}
const logout = () => {
  userStore.$reset()
  message.success('退出登录成功，2秒后跳转到首页', 2)
  setTimeout(() => {
    router.push('/')
  }, 2000)
}
</script>

<style lang="scss" scoped>
.user-profile-dropdown {
  border-radius: 2px !important;
}
.user-operation > * {
  margin-left: 30px !important;
}
</style>
