<script setup lang="ts">
import { RouterView } from 'vue-router'
</script>

<template>
  <!-- <a-spin v-if="showLoading" tip="读取中" class="global-spinner"/> -->
  <router-view />
</template>

<style>
.global-spinner {
  position: fixed;
  top: 10px;
  right: 50%;
}
</style>
